[submodule "browser"]
	path = browser
	url = https://github.com/babelforge/babel-chrome-browser.git
	branch = main
[submodule "library/viewer-kit"]
	path = library/viewer-kit
	url = https://github.com/babelforge/babel-chrome-viewer-kit.git
	branch = main
[submodule "modules/demo-module"]
	path = modules/demo-module
	url = https://github.com/babelforge/babelchrome-demo-module.git
	branch = main
[submodule "modules/json-viewer-module"]
	path = modules/json-viewer-module
	url = https://github.com/babelforge/babelchrome-json-viewer-module.git
	branch = main
[submodule "modules/laravel-module"]
	path = modules/laravel-module
	url = https://github.com/babelforge/babelchrome-laravel-module.git
	branch = main
[submodule "modules/markdown-viewer-module"]
	path = modules/markdown-viewer-module
	url = https://github.com/babelforge/babelchrome-markdown-viewer-module.git
	branch = main
[submodule "modules/openapi-viewer-module"]
	path = modules/openapi-viewer-module
	url = https://github.com/babelforge/babelchrome-openapi-viewer-module.git
	branch = main
[submodule "modules/plain-php-module"]
	path = modules/plain-php-module
	url = https://github.com/babelforge/babelchrome-plain-php-module.git
	branch = main
[submodule "modules/project-launcher-module"]
	path = modules/project-launcher-module
	url = https://github.com/babelforge/babelchrome-project-launcher-module.git
	branch = main
[submodule "modules/process-runtime-demo-module"]
	path = modules/process-runtime-demo-module
	url = https://github.com/babelforge/babelchrome-process-runtime-demo-module.git
	branch = main
